.wrapper {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem #174b4b;
  min-height: 37rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "input render"
    "preview preview";
}

.input,
.render {
  background-color: #dcf9f8;
  padding: 1rem 2rem;
  min-width: 20rem;
}

.input {
  grid-area: input;
}
.render {
  grid-area: render;
}

.preview {
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  grid-area: preview;
}

.preview > * {
  display: block;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;
}
