.wrapper {
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 3rem #174b4b;
}

.controls {
  background-color: #dcf9f8;
  padding: 2rem;
}

.preview {
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 35rem;
  min-height: 35rem;
}
