.barcode {
  max-width: 100%;
  display: flex;
  --barcode-gap: 0.25rem;
  --barcode-height: 3rem;
  --barcode-width: 0.5rem;
  gap: var(--barcode-gap);
}

.bar {
  background-color: black;
  width: var(--barcode-width);
}

.short {
  height: var(--barcode-height);
  margin-top: var(--barcode-height);
  margin-bottom: var(--barcode-height);
}

.up {
  height: calc(--barcode-height * 2);
  margin-top: 0;
  margin-bottom: var(--barcode-height);
}

.down {
  height: calc(--barcode-height * 2);
  margin-top: var(--barcode-height);
  margin-bottom: 0;
}

.long {
  height: calc(--barcode-height * 3);
  margin-top: 0;
  margin-bottom: 0;
}
