.barcode {
  display: flex;
  gap: 0.1rem;
}

.bar {
  background-color: black;
  width: 0.25rem;
}

.short {
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.up {
  height: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.down {
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.long {
  height: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
