.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
}

.legend {
  font-weight: bold;
  color: #174b4b;
}

.note {
  display: block;
  font-style: italic;
  color: #174b4b;
  margin-bottom: 0.5rem;
}

.row {
  margin-top: 0.5rem;
  display: flex;
}

.labelHorizontal {
  justify-content: space-between;
}

.labelVertical {
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  justify-content: space-evenly;
  gap: 1rem;
}

.button {
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #174b4b;
  color: #ffffff;
  border: 0;
}

.label {
}

.field {
}
