@import url("./reset.css");

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  --font-family-serif: Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
}

body {
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
}

body,
html,
#react-root {
  width: 100%;
  height: 100%;
  background-color: #40a5a4;
}

#react-root {
  display: flex;
  align-items: center;
  justify-content: center;
}
